:root {
    --primary-color: #2a2a40;
    --secondary-color: #444468;
    --border-color: #535374;

    --border-radius: 5px;
    --container-margins: 20px;
}

body {
    background-color: var(--primary-color);
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color); /* Your purple color */
}

/* Style for chat area */
#messageList {
    width: 80vh;
    height: 80vh;
    overflow-y: auto;
    box-sizing: border-box;
    scrollbar-width: thick;
    scrollbar-color: #888;
}
#chatBody {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

/* Style for containers */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#messageContainer{
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: var(--border-color) 2px solid;
    margin-bottom: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#userListContainer {
    width: 300px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: var(--border-color) 2px solid;
    margin-left: 20px;
    padding: 10px;
    box-sizing: border-box;
}
#inputArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 5vh;
}
#roomListContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: var(--border-color) 2px solid;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px
}

/* Style for input fields */
#usernameInput, #messageContent {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
}
#usernameInput:hover, #content:hover {
    background-color: #dddddd;
}
#attachment {
    display: none;
}

/* Style for buttons */
#loginBtn, #sendBtn, #disconnectBtn, #attachmentBtn{
    padding: 11px 20px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
#attachmentBtn {
    padding: 8px 20px;
    background-color: #2196F3;
}
#disconnectBtn {
    margin-left: 20vh;
    background-color: #f44336;
}
#loginBtn:hover, #sendBtn:hover {
    background-color: #45a049;
}

/*Style for classes*/
.chat-media {
    max-width: 100%;
    max-height: 800px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    border-radius: 8px;
    margin-top: 5px;
}
.message-bubble {
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: var(--border-color) 2px solid;
    margin-bottom: 2px;
    padding: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
.timestamp {
    padding-bottom: 0.1em;
    font-size: 0.8em;
    color: #888;
    margin-top: 5px;
}
.room-btn {
    background-color: transparent;
    border: none;
    color: #f0f0f0;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
    width: 100%;
}
.room-btn.active {
    background-color: #353545;
    color: white;
    font-weight: bold;
}
.room-btn:hover{
    background-color: var(--primary-color);
    color: #dcddde;
    cursor: pointer;
}
.chat-audio {
    margin-top: 5px;
    height: 40px;
    max-width: 250px;
    outline: none; 
}
.chat-file-link {
    color: #4CAF50;
    text-decoration: underline;
    font-weight: bold;
    word-break: break-all;
}
