:root {
    --primary-color: #2a2a40;
    --secondary-color: #444468;
    --tetnary-color: #1e1e2e;
    --border-color: #535374;

    --base-white: #f0f0f0;

    --button-primary-color: #444468;
    --button-secondary-color: #393957;

    --button-accept: #4CAF50;
    --button-decline: #f44336;
    --button-attachment: #2196F3;

    --fast-transition: 0.1s;
    --medium-transition: 0.2s;
    --slow-transition: 0.4s
}

body {
    background-color: var(--primary-color);
    color: var(--base-white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    margin: 20px auto;
}

#chatPage {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    padding: 10px;
    gap: 10px;
}

#chatBody {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 0;
    gap: 15px;
}

button{
    border: none;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--base-white); 
    transition: var(--fast-transition);
}
button:hover{
    transform: scale(1.05);
}
button:active{
    transform: scale(0.95);
}

.btn-roundSquare {
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-roundButton {
    width: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    border-radius: 50%;
    transition: var(--fast-transition);
    background-size: cover;      
    background-position: center;
}
.btn-roundButton:hover {
    border-radius: 16px;
}


input[type="text"], 
input[type="password"],
textarea{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;

    border: 2px solid var(--border-color);
    border-radius: 5px;

    background-color: var(--tetnary-color); 
    color: var(--base-white);

    font-size: 15px;
    font-family: inherit;
    line-height: 1.2;

    outline: none; 
    transition: all 0.2s ease-in-out;
}

