#roomListContainer {
    display: flex;
    flex-direction: column;
    flex: 0 0 50px;
    background-color: var(--secondary-color);
    border: var(--border-color) 2px solid;
    border-radius: 5px;
    padding: 10px;
    transition: var(--medium-transition);
}
#roomListContainer:hover {
    flex: 0 0 200px;
}

.room-btn.active{
    font-weight: bold;
    background-color: #2e2e47;
}
.room-btn {
    background-color:  #353545;
    border: none;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;
}
