#inputArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

#messageContent {
    flex-grow: 1;
    padding: 9px;
}

#sendBtn { background-color: var(--button-accept); }
#disconnectBtn { background-color: var(--button-decline); }
#attachmentBtn { 
    background-color: var(--button-attachment); 
    cursor: pointer; 
    padding: 7px;
    border-radius: 5px;
    transition: var(--fast-transition);
}

#attachmentBtn:hover {
    transform: scale(1.05);
}
#attachmentBtn:active {
    transform: scale(0.95);
}